<header>
  <div class="header-main" [ngsReveal]="{reset:false , delay:650}">
    <div class="header-name">
      <div>
        <h2>
          <a href="#">Jhordie</a>
        </h2>
      </div>
    </div>
    <div class="header-nav">
      <nav>
        <ul>
          <li>
            <a href="#presentation"><span>#</span>Presentation</a>
          </li>
          <li>
            <a href="#skills"><span>#</span>Skills</a>
          </li>
          <li>
            <a href="#projects"><span>#</span>Projects</a>
          </li>
          <li>
            <a href="#contact"><span>#</span>Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
