<footer>
  <div class="container-footer">
    <div class="footer-top">
      <div class="footer-section">
        Jhordie Roque <br>
        Frontend Developer <br>
        Backend Developer <br>
        FullStack Developer
      </div>
      <div class="footer-section">
        Correo: <br>
        <a href="mailto:jordieroque741@gmail.com">
          jordieroque741@gmail.com
        </a>
      </div>
      <div class="footer-section">
        <div class="footer-icons">
          <i class="bi bi-facebook"></i>
          <i class="bi bi-github"></i>
          <i class="bi bi-linkedin"></i>
          <i class="bi bi-discord"></i>
          <i class="bi bi-twitter"></i>
          <i class="bi bi-instagram"></i>
        </div>
      </div>
    </div>
    <hr>
    <div class="footer-bottom">
      <div>
        Design <span style="color: #5163FF; font-size: 20px;">♥️</span> by Jhordie Roque <br>
        Copyright ©️ Jhordie Roque 2023. All Rights Reserved
      </div>
    </div>
  </div>
</footer>
