main{
  width: 100%;
}
.container-main{
  padding: 20px;
  margin: 80px auto;
  display: flex;
  max-width: 1350px;
  gap: 40px;
}
.container-main .main-info{
  width: 50%;
  
}
.container-main .main-info .main-bg{
  max-width: 600px;
  height: 100%;
  margin: auto;
  padding: 30px;
  background: #ffffff24;
  backdrop-filter: blur(7px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px #0000001f ;
}

.decorator{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.arrow1{
  height: 120px;
  width: 4px;
  background-color: #5163FF;
  position: absolute;
}
.arrow2{
  height: 4px;
  width: 120px;
  background-color: #5163FF;
}
.decorator1{
  display: flex;
  justify-content: flex-end;
  align-items:  flex-end;
  flex:1;
}
.arrowb1{
  height: 4px;
  width: 120px;
  background-color: #5163FF;
}
.arrowb2{
  height: 120px;
  width: 4px;
  background-color: #5163FF;
  position: absolute;
}

.description{
  text-align: center;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px;
  font-size: 20px;
}

.description-name h1{
  color: #5163FF;
  font-family: 'Fira Code', monospace;
  font-size: 3rem;
  margin: 0;
}
.description-main p{
  font-family: 'Fira Code', monospace;
  font-size: 1.2rem;
  margin: 0;
}
.btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 65px;
}
.container-button-cv{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-button{
  border: 3px solid #3FEB44;
  display: flex;
  justify-content: center;
}
.button-cv{
  background: #ffffff24;
  backdrop-filter: blur(7px);
  align-items: center;
  padding: 20px 35px;
  position: relative;
  top: -10px;
  right: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  font-family: 'Fira Code', monospace;
  font-size: 18px;
  font-weight: bold;
}
.button-cv span{
  color:#3FEB44;
}
.button-cv:hover{
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.button-cv:hover:active{
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.container-main .main-img{
  width: 50%;
  text-align: center;
}
.container-main .main-img img{
  max-width: 100%;
  height: auto;
}

.bg-container{
  background: #ffffff24;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  padding: 10px 25px;
  height: 100%;
  position: relative;
  left: -11px;
  top: -11px
}

@media screen and (max-width: 845px) {
  #presentation .container-main{
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px 20px;

  }
  .container-main .main-info .main-bg .description{
    font-size: 14px;
  }

  .container-main .main-info,
  .container-main .main-img {
    width: 100% !important;
  }
  .container-main .main-info .main-bg .description .description-main p{
    font-size: .9rem;
  }
}
@media screen and (max-width: 1245px) {
  .container-main{
    padding: 20px 70px;
  }
  .container-main .main-info .main-bg{
    padding: 20px;
  }
  
  .container-main .main-info .main-bg .description{
    font-size: 18px;
  }
  .container-main .main-info .main-bg .description-name h1{
    font-size: 2.2rem;
  }
  .container-main .main-info .main-bg .description .description-main p{
    font-size: .9rem;
  }
  .container-main .main-info .main-bg .btn-container{
    margin-top: 35px;
  }
  .container-main .main-info .main-bg .btn-container .button-cv{
    font-size: 14px;
  }
}