<main id="presentation">
  <div class="container-main" [ngsReveal]="{reset:false , delay:850}">
    <section class="main-info">
      <div class="main-bg">
        <div class="decorator">
          <span class="arrow1"></span>
          <span class="arrow2"></span>
        </div>
        <div class="description">
          <div>
            <p>
              Hola mi nombre es
            </p>
          </div>
          <div class="description-name">
            <ngx-typed-js [strings]="['Jhordie Roque']" [typeSpeed]="90" [showCursor]="false" [startDelay]="1000">
              <h1 class="typing"></h1>
            </ngx-typed-js>
          </div>
          <div class="description-main">
            <p>
              Soy un desarrollador junior apasionado por la tecnología y la programación. Me encanta aprender
              nuevas habilidades y crear soluciones innovadoras. Estoy entusiasmado por continuar mi crecimiento en
              el campo y utilizar mis conocimientos para resolver problemas complejos. Como desarrollador, siempre
              estoy buscando nuevos desafíos y oportunidades para aprender y mejorar.
            </p>
          </div>
          <div class="btn-container">
            <div class="container-button-cv">
              <div class="bg-button">
                <a class="button-cv">
                  <span>#</span>Descargar CV
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="decorator1">
          <span class="arrowb1"></span>
          <span class="arrowb2"></span>
        </div>
      </div>
    </section>
    <section class="main-img">
      <div>
        <img src="../../assets/img-principal.png" alt="">
      </div>
    </section>
  </div>
</main>
