<section id="contact">
  <div class="container-contact">
    <div class="subtitle">
      <div>
        <ngx-typed-js [strings]="['Contact']" [typeSpeed]="90" [showCursor]="false" [startDelay]="1700">
          <h2>
            >_ <span class="typing"></span>
          </h2>
        </ngx-typed-js>
      </div>
    </div>
    <div class="form-contact">
      <div class="decorator">
        <span class="arrowp2"></span>
        <span class="arrowp1"></span>
      </div>
      <form action="">
        <div class="data-user">
          <div class="info-user">
            <label for="">Nombres</label>
            <input type="text">
            <label for="">Correo</label>
            <input type="correo">
          </div>
          <div class="msj-user">
            <label for="">Mensaje</label>
            <textarea name="" placeholder="Ingresa tu mensaje"></textarea>
          </div>
        </div>

        <div class="btn-send">
          <button>
            <span>#</span>Enviar
          </button>
        </div>
      </form>
      <div class="decorator1">
        <span class="arrowp1"></span>
        <span class="arrowp2"></span>
      </div>
    </div>
  </div>
</section>