<section id="skills" [ngsReveal]="{ reset: false , delay:150}">
  <div class="container-skills">
    <div class="subtitle">
      <div>
        <ngx-typed-js [strings]="['Skills']" [typeSpeed]="90" [showCursor]="false" [startDelay]="1700">
          <h2>
            >_ <span class="typing"></span>
          </h2>
        </ngx-typed-js>
      </div>
    </div>
    <div class="section">
      <div class="container-cards-skills">
        <div class="container-card">
          <div class="card-skills">
            <div class="card-skills-title">
              <span>/</span>Languajes
            </div>
            <div class="card-skills-body">
              <div class="card-decorator-start">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
              <div class="card-skills-content">
                Python JavaScript NodeJs
                Java PHP HTML CSS
              </div>
              <div class="card-decorator-end">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
            </div>
          </div>
          <div class="card-skills">
            <div class="card-skills-title">
              <span>/</span>Databases
            </div>
            <div class="card-skills-body">
              <div class="card-decorator-start">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
              <div class="card-skills-content">
                MySQL PostgreSQL
                MongoDB
              </div>
              <div class="card-decorator-end">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
            </div>
          </div>
          <div class="card-skills">
            <div class="card-skills-title">
              <span>/</span>DevOps
            </div>
            <div class="card-skills-body">
              <div class="card-decorator-start">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
              <div class="card-skills-content">
                Linux
                Docker
                Kubernetes
                Jenkins
              </div>
              <div class="card-decorator-end">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="container-card">
          <div class="card-skills">
            <div class="card-skills-title">
              <span>/</span>Tools
            </div>
            <div class="card-skills-body">
              <div class="card-decorator-start">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
              <div class="card-skills-content">
                VSCode IntelliJ
                PyCharm NetBeans
                Git GitHub
                Figma Adobe XD
                Adobe Photoshop
                Adobe Illustrator
                Postman
              </div>
              <div class="card-decorator-end">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
            </div>
          </div>
          <div class="card-skills">
            <div class="card-skills-title">
              <span>/</span>Frameworks
            </div>
            <div class="card-skills-body">
              <div class="card-decorator-start">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
              <div class="card-skills-content">
                Bootstrap 5
                JQuery
                Angular 15
                React
                Spring Boot 3
                Scrapy
              </div>
              <div class="card-decorator-end">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="skills-img">
        <img src="../assets/img-skills.png" alt="">
      </div>
    </div>
  </div>
</section>