<app-header></app-header>
<app-presentation></app-presentation>
<app-skills></app-skills>
<div class="separator" [ngsReveal]="{ reset: false , delay: 150}">
  <span></span>
</div>
<app-projects></app-projects>
<div class="separator" [ngsReveal]="{ reset: false , delay: 150}">
  <span></span>
</div>
<app-contact></app-contact>
<div class="separator" [ngsReveal]="{ reset: false , delay: 150}">
  <span></span>
</div>
<app-footer></app-footer>
<div class="shadow-button-theme"></div>
<button class="button-theme" (click)="toggleDarkTheme()">
  <i [ngClass]="{'bi bi-brightness-high': darkModeEnabled, 'bi bi-moon-stars': !darkModeEnabled }"></i>
</button>
<router-outlet></router-outlet>