<header>
  <div class="header-main" [ngsReveal]="{reset:false , delay:650}">
    <div class="header-name">
      <div>
        <h2>
          <a href="#">Jhordie</a>
        </h2>
      </div>
    </div>
    <div class="header-nav">
      <nav>
        <ul>
          <li>
            <a href="#presentation"><span>#</span>Presentation</a>
          </li>
          <li>
            <a href="#skills"><span>#</span>Skills</a>
          </li>
          <li>
            <a href="#projects"><span>#</span>Projects</a>
          </li>
          <li>
            <a href="#contact"><span>#</span>Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<main id="presentation">
  <div class="container-main" [ngsReveal]="{reset:false , delay:850}">
    <section class="main-info">
      <div class="main-bg">
        <div class="decorator">
          <span class="arrow1"></span>
          <span class="arrow2"></span>
        </div>
        <div class="description">
          <div>
            <p>
              Hola mi nombre es
            </p>
          </div>
          <div class="description-name">
            <ngx-typed-js [strings]="['Jhordie Roque']" [typeSpeed]="90" [showCursor]="false" [startDelay]="1000">
              <h1 class="typing"></h1>
            </ngx-typed-js>
          </div>
          <div class="description-main">
            <p>
              Soy un desarrollador junior apasionado por la tecnología y la programación. Me encanta aprender
              nuevas habilidades y crear soluciones innovadoras. Estoy entusiasmado por continuar mi crecimiento en
              el campo y utilizar mis conocimientos para resolver problemas complejos. Como desarrollador, siempre
              estoy buscando nuevos desafíos y oportunidades para aprender y mejorar.
            </p>
          </div>
          <div class="btn-container">
            <div class="container-button-cv">
              <div class="bg-button">
                <a class="button-cv">
                  <span>#</span>Descargar CV
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="decorator1">
          <span class="arrowb1"></span>
          <span class="arrowb2"></span>
        </div>
      </div>
    </section>
    <section class="main-img">
      <div>
        <img src="../assets/img-principal.png" alt="">
      </div>
    </section>
  </div>
</main>

<section id="skills" [ngsReveal]="{ reset: false , delay:150}">
  <div class="container-skills">
    <div class="subtitle">
      <div>
        <ngx-typed-js [strings]="['Skills']" [typeSpeed]="90" [showCursor]="false" [startDelay]="1700">
          <h2>
            >_ <span class="typing"></span>
          </h2>
        </ngx-typed-js>
      </div>
    </div>
    <div class="section">
      <div class="container-cards-skills">
        <div class="container-card">
          <div class="card-skills">
            <div class="card-skills-title">
              <span>/</span>Languajes
            </div>
            <div class="card-skills-body">
              <div class="card-decorator-start">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
              <div class="card-skills-content">
                Python JavaScript NodeJs
                Java PHP HTML CSS
              </div>
              <div class="card-decorator-end">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
            </div>
          </div>
          <div class="card-skills">
            <div class="card-skills-title">
              <span>/</span>Databases
            </div>
            <div class="card-skills-body">
              <div class="card-decorator-start">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
              <div class="card-skills-content">
                MySQL PostgreSQL
                MongoDB
              </div>
              <div class="card-decorator-end">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
            </div>
          </div>
          <div class="card-skills">
            <div class="card-skills-title">
              <span>/</span>DevOps
            </div>
            <div class="card-skills-body">
              <div class="card-decorator-start">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
              <div class="card-skills-content">
                Linux
                Docker
                Kubernetes
                Jenkins
              </div>
              <div class="card-decorator-end">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="container-card">
          <div class="card-skills">
            <div class="card-skills-title">
              <span>/</span>Tools
            </div>
            <div class="card-skills-body">
              <div class="card-decorator-start">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
              <div class="card-skills-content">
                VSCode IntelliJ
                PyCharm NetBeans
                Git GitHub
                Figma Adobe XD
                Adobe Photoshop
                Adobe Illustrator
                Postman
              </div>
              <div class="card-decorator-end">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
            </div>
          </div>
          <div class="card-skills">
            <div class="card-skills-title">
              <span>/</span>Frameworks
            </div>
            <div class="card-skills-body">
              <div class="card-decorator-start">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
              <div class="card-skills-content">
                Bootstrap 5
                JQuery
                Angular 15
                React
                Spring Boot 3
                Scrapy
              </div>
              <div class="card-decorator-end">
                <span class="decorator2"></span>
                <span class="decorator1"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="skills-img">
        <img src="../assets/img-skills.png" alt="">
      </div>
    </div>
  </div>
</section>

<div class="separator" [ngsReveal]="{ reset: false , delay: 150}">
  <span></span>
</div>

<section id="projects" [ngsReveal]="{ reset: false , delay: 150}">
  <div class="container-projects">
    <div class="subtitle">
      <div>
        <ngx-typed-js [strings]="['Projects']" [typeSpeed]="90" [showCursor]="false" [startDelay]="1700">
          <h2>
            >_ <span class="typing"></span>
          </h2>
        </ngx-typed-js>
      </div>
    </div>

    <div class="container-cards-projects">
      <div>
        <div class="card-projects">
          <div class="card-project-img">
            <img src="../assets/TiendaEcommerce-bootstrap5.png" alt="">
          </div>
          <div class="card-project-body">
            <div class="card-project-title">
              Tienda Ecommerce Bootstrap 5
            </div>
            <div class="card-project-content">
              <div class="decorator">
                <span class="arrowp2"></span>
                <span class="arrowp1"></span>
              </div>
              <div class="card-project-text">
                Pagina Maquete Ecommerce, realizada con Bootstrap 5.
              </div>
              <div class="card-project-button">
                <button>
                  <span>#</span>GitHub
                </button>
              </div>
              <div class="decorator1">
                <span class="arrowp2"></span>
                <span class="arrowp1"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="card-projects">
          <div class="card-project-img">
            <img src="../assets/peruzon.png" alt="">
          </div>
          <div class="card-project-body">
            <div class="card-project-title">
              Peruzon
            </div>
            <div class="card-project-content">
              <div class="decorator">
                <span class="arrowp2"></span>
                <span class="arrowp1"></span>
              </div>
              <div class="card-project-text">
                Sistema de facturacion e inventario, realizado con: Bootstrap5, Js, PHP, JQuery y MySQL
              </div>
              <div class="card-project-button">
                <button>
                  <span>#</span>GitHub
                </button>
              </div>
              <div class="decorator1">
                <span class="arrowp2"></span>
                <span class="arrowp1"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="card-projects">
          <div class="card-project-img">
            <img src="../assets/bot_r .png" alt="">
          </div>
          <div class="card-project-body">
            <div class="card-project-title">
              BOT_R (Script)
            </div>
            <div class="card-project-content">
              <div class="decorator">
                <span class="arrowp2"></span>
                <span class="arrowp1"></span>
              </div>
              <div class="card-project-text">
                Buscar informacion como nombres y dni, realizado con Python3 y librerias de web scraping </div>
              <div class="card-project-button">
                <button>
                  <span>#</span>GitHub
                </button>
              </div>
              <div class="decorator1">
                <span class="arrowp2"></span>
                <span class="arrowp1"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="card-projects">
          <div class="card-project-img">
            <img src="../assets/Sneakers.png" alt="">
          </div>
          <div class="card-project-body">
            <div class="card-project-title">
              Sneakers
            </div>
            <div class="card-project-content">
              <div class="decorator">
                <span class="arrowp2"></span>
                <span class="arrowp1"></span>
              </div>
              <div class="card-project-text">
                E-commerce relacionado a la venta de zapatillas por temporada
              </div>
              <div class="card-project-button">
                <button>
                  <span>#</span>GitHub
                </button>
              </div>
              <div class="decorator1">
                <span class="arrowp2"></span>
                <span class="arrowp1"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="card-projects">
          <div class="card-project-img">
            <img src="../assets/Factugo.png" alt="">
          </div>
          <div class="card-project-body">
            <div class="card-project-title">
              FactoGo
            </div>
            <div class="card-project-content">
              <div class="decorator">
                <span class="arrowp2"></span>
                <span class="arrowp1"></span>
              </div>
              <div class="card-project-text">
                Sistema de ventas y facturacion, desarrollado con Java y MySQL
              </div>
              <div class="card-project-button">
                <button>
                  <span>#</span>GitHub
                </button>
              </div>
              <div class="decorator1">
                <span class="arrowp2"></span>
                <span class="arrowp1"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="card-projects">
          <div class="card-project-img">
            <img src="../assets/Telco.png" alt="">
          </div>
          <div class="card-project-body">
            <div class="card-project-title">
              Telco Telefonia
            </div>
            <div class="card-project-content">
              <div class="decorator">
                <span class="arrowp2"></span>
                <span class="arrowp1"></span>
              </div>
              <div class="card-project-text">
                Pagina web de servicio de telefonia, desarrollado
                con Angular 15, Spring Boot, MySQL, PostgreSQL, MongoDB
              </div>
              <div class="card-project-button">
                <button>
                  <span>#</span>GitHub
                </button>
              </div>
              <div class="decorator1">
                <span class="arrowp2"></span>
                <span class="arrowp1"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="separator" [ngsReveal]="{ reset: false , delay: 150}">
  <span></span>
</div>

<section id="contact">
  <div class="container-contact">
    <div class="subtitle">
      <div>
        <ngx-typed-js [strings]="['Contact']" [typeSpeed]="90" [showCursor]="false" [startDelay]="1700">
          <h2>
            >_ <span class="typing"></span>
          </h2>
        </ngx-typed-js>
      </div>
    </div>
    <div class="form-contact">
      <div class="decorator">
        <span class="arrowp2"></span>
        <span class="arrowp1"></span>
      </div>
      <form action="">
        <div class="data-user">
          <div class="info-user">
            <label for="">Nombres</label>
            <input type="text">
            <label for="">Correo</label>
            <input type="correo">
          </div>
          <div class="msj-user">
            <label for="">Mensaje</label>
            <textarea name="" placeholder="Ingresa tu mensaje"></textarea>
          </div>
        </div>

        <div class="btn-send">
          <button>
            <span>#</span>Enviar
          </button>
        </div>
      </form>
      <div class="decorator1">
        <span class="arrowp1"></span>
        <span class="arrowp2"></span>
      </div>
    </div>
  </div>
</section>

<div class="separator" [ngsReveal]="{ reset: false , delay: 150}">
  <span></span>
</div>

<footer>
  <div class="container-footer">
    <div class="footer-top">
      <div class="footer-section">
        Jhordie Roque <br>
        Frontend Developer <br>
        Backend Developer <br>
        FullStack Developer
      </div>
      <div class="footer-section">
        Correo: <br>
        jordieroque741@gmail.com
      </div>
      <div class="footer-section">
        <div class="footer-icons">
          <i class="bi bi-facebook"></i>
          <i class="bi bi-github"></i>
          <i class="bi bi-linkedin"></i>
          <i class="bi bi-discord"></i>
          <i class="bi bi-twitter"></i>
          <i class="bi bi-instagram"></i>
        </div>
      </div>
    </div>
    <hr>
    <div class="footer-bottom">
      <div>
        Design <span style="color: #5163FF; font-size: 20px;">♥️</span> by Jhordie Roque <br>
        Copyright ©️ Jhordie Roque 2023. All Rights Reserved
      </div>
    </div>
  </div>
</footer>
<div class="shadow-button-theme"></div>
<button class="button-theme" (click)="toggleDarkTheme()">
  <i [ngClass]="{'bi bi-brightness-high': darkModeEnabled, 'bi bi-moon-stars': !darkModeEnabled }"></i>
</button>
<router-outlet></router-outlet>